@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" href="~/css/bootstrap/style.css">
<div class="heading">
    <a style="color : red; font-size:40px" ; class="navbar-brand">About Us</a>
    <p style="color:red" <a href="home.html">home >></a> about </p>
</div>

<section style="color:red" class="about">

    <div class="image">
        <img src="~/images/6.png" alt="">
    </div>

    <div class="content">
        <span>welcome to our Coffee</span>
        <h3 style="color:white">fresh and tasty Coffee</h3>
        <p style="color:white">
            We believe our real purpose in life can be found in serving others. We found ours in serving you through coffee.
            Our company was founded based on a passion to deliver you fresh roasted premium coffees that taste the way coffee was meant to taste, and we think a great cup of coffee inspires great conversation.  In some small way, we hope to impact this world through great tasting coffee shared in community with others.
        </p>
        <a style="background-color:red;" href="#" class="btn">read more</a>
    </div>

</section>

<section class="gallery">

    <h1 class="title" style="font-size:xx-large"> <span>our gallery</span> <a href="#">view all >></a> </h1>

    <div class="box-container">

        <div class="box">
            <img src="~/images/9.png" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/8.png" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/10.png" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/13.png" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/11.png" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/b1.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/14.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

        <div class="box">
            <img src="~/images/15.jpg" alt="">
            <div class="icons">
                <a href="#" class="fas fa-eye"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share-alt"></a>
            </div>
        </div>

    </div>

</section>
<link rel="stylesheet" href="~/css/bootstrap/style.css">
<div class="heading">
    <a style="color : red; font-size:40px" ; class="navbar-brand">Contact Us</a>
</div>

<section class="contact">

    <div class="icons-container">

        <div class="icons" style="color:white">
            <i class="fas fa-phone"></i>
            <h3 style="color:white">Our number:</h3>
            <p style="color:white"> 077-3483321</p>
            <p></p>
        </div>

        <div class="icons" style="color:white">
            <i class="fas fa-envelope"></i>
            <h3 style="color:white">Our email:</h3>
            <p style="color:white"> Chenkacoffeeshop@gmail.com</p>
        </div>

        <div class="icons" style="color:white">
            <i class="fas fa-map-marker-alt"></i>
            <h3 style="color:white">Our address:</h3>
            <p style="color:white">Bialik 85,Ramat Gan,Israel</p>
        </div>

    </div>

    <div class="row">

        <form action="">
            <h3 style="color:white">get in touch</h3>
            <div class="inputBox">
                <input type="text" placeholder="enter your name" class="box">
                <input type="email" placeholder="enter your email" class="box">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="enter your number" class="box">
                <input type="text" placeholder="enter your subject" class="box">
            </div>
            <textarea placeholder="your message" cols="30" rows="10"></textarea>
            <input style="background-color:red;" type="submit" value="send message" class="btn">
        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.3738950331726!2d34.812034884835334!3d32.08617908118612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4bc8df2effb3%3A0x8f2be7c006050ce9!2z15HXmdeQ15zXmdenIDg1LCDXqNee16og15LXnw!5e0!3m2!1siw!2sil!4v1642781389365!5m2!1siw!2sil" allowfullscreen="" loading="lazy"></iframe>

    </div>

</section>



