@{
    ViewBag.Title = "Contact";
}
<link rel="stylesheet" href="~/css/bootstrap/style.css">
<div class="heading">
    <h1 style="color:white">contact us</h1>
</div>

<section class="contact">

    <div class="icons-container">

        <div class="icons" style="color:white">
            <i class="fas fa-phone"></i>
            <h3 style="color:white">our number</h3>
            <p style="color:white"> 0773483321</p>
            <p></p>
        </div>

        <div class="icons" style="color:white">
            <i class="fas fa-envelope"></i>
            <h3 style="color:white">our email</h3>
            <p style="color:white"> Chenkacoffeeshop@gmail.com</p>
        </div>

        <div class="icons" style="color:white">
            <i class="fas fa-map-marker-alt"></i>
            <h3 style="color:white">our address</h3>
            <p style="color:white">Bialik 85,Ramat Gan,Israel</p>
        </div>

    </div>

    <div class="row">

        <form action="">
            <h3 style="color:white">get in touch</h3>
            <div class="inputBox">
                <input type="text" placeholder="enter your name" class="box">
                <input type="email" placeholder="enter your email" class="box">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="enter your number" class="box">
                <input type="text" placeholder="enter your subject" class="box">
            </div>
            <textarea placeholder="your message" cols="30" rows="10"></textarea>
            <input style="background-color:red;" type="submit" value="send message" class="btn">
        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.3738950331726!2d34.812034884835334!3d32.08617908118612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4bc8df2effb3%3A0x8f2be7c006050ce9!2z15HXmdeQ15zXmdenIDg1LCDXqNee16og15LXnw!5e0!3m2!1siw!2sil!4v1642781389365!5m2!1siw!2sil" allowfullscreen="" loading="lazy"></iframe>

    </div>

</section>
