@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/css/bootstrap/style.css">
<section class="home" style="color:white">

    <div class="slides-container">

        <div class="slide active">
            <div class="content">

                <a style="color : white; font-size:40px" class="navbar-brand" >For Good Mood</a>
                <a style="background-color:red;" href="@Url.Action("product","Home")" class="btn">shop now</a>
            </div>
            <div class="image">
                <img src="~/images/b1.jpg" alt="">
            </div>
        </div>
    </div>
</section>



